In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
ik = pd.read_csv('ikeadata.txt', sep=" ", index_col="Kommun_name")

In [3]:
ik.head()

,Kommun_code,Year,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
Kommun_name,,,,,,,,,,,
Haparanda,2583,2010,1078,276,10059,719,0.071478,195.74174,111.075774,0,1
Kalmar,880,2010,3790,1621,62815,8716,0.138757,117.17365,390.516869,0,0
Karlstad,1780,2010,4560,1910,85753,13308,0.155190,119.64794,469.856708,0,0
Upplands V채sby,114,2010,1366,708,39289,4419,0.112474,96.69215,140.750935,0,0
Vallentuna,115,2010,171,99,30114,3843,0.127615,86.56347,17.619627,0,0

In [4]:
ik.info()

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, Haparanda to Askersund
Data columns (total 11 columns):
Kommun_code              207 non-null int64
Year                     207 non-null int64
Revenue                  207 non-null int64
Employee                 207 non-null int64
Population               207 non-null int64
Population_University    207 non-null int64
Percent_University       207 non-null float64
Productivity             207 non-null float64
SalesIndex               207 non-null float64
Infrast                  207 non-null int64
Border                   207 non-null int64
dtypes: float64(3), int64(8)
memory usage: 19.4+ KB

In [5]:
ik.shape

(207, 11)

In [6]:
ik.isnull().sum()

Kommun_code              0
Year                     0
Revenue                  0
Employee                 0
Population               0
Population_University    0
Percent_University       0
Productivity             0
SalesIndex               0
Infrast                  0
Border                   0
dtype: int64

In [7]:
ik.describe()

,Kommun_code,Year,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
count,207.000000,207.0,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000,207.000000
mean,1049.734300,2010.0,1031.801932,523.038647,34543.396135,4660.106280,0.097461,91.454002,106.315583,0.048309,0.038647
std,541.065455,0.0,2694.889549,1463.194427,66882.499740,14403.495784,0.040760,27.960867,277.678055,0.214939,0.193220
min,114.000000,2010.0,11.000000,2.000000,3672.000000,174.000000,0.046142,19.898880,1.133426,0.000000,0.000000
25%,582.500000,2010.0,110.000000,64.500000,10785.500000,788.500000,0.069015,74.700910,11.334262,0.000000,0.000000
50%,1263.000000,2010.0,252.000000,142.000000,16515.000000,1598.000000,0.086601,90.457050,25.965765,0.000000,0.000000
75%,1461.500000,2010.0,825.500000,435.000000,37922.000000,4073.500000,0.112085,104.008805,85.058490,0.000000,0.000000
max,2583.000000,2010.0,32897.000000,18795.000000,847073.000000,191585.000000,0.269646,275.636330,3389.665819,1.000000,1.000000

In [8]:
ikea=ik.iloc[:,2:12]

In [9]:
ikea.head()

,Revenue,Employee,Population,Population_University,Percent_University,Productivity,SalesIndex,Infrast,Border
Kommun_name,,,,,,,,,
Haparanda,1078,276,10059,719,0.071478,195.74174,111.075774,0,1
Kalmar,3790,1621,62815,8716,0.138757,117.17365,390.516869,0,0
Karlstad,4560,1910,85753,13308,0.155190,119.64794,469.856708,0,0
Upplands V채sby,1366,708,39289,4419,0.112474,96.69215,140.750935,0,0
Vallentuna,171,99,30114,3843,0.127615,86.56347,17.619627,0,0

In [ ]:
#The Elbow Method
wcss = []
for i in range(1, 10):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 0)
    kmeans.fit(ikea)
    wcss.append(kmeans.inertia_)

In [ ]:
plt.plot(range(1, 10), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
kmeans = KMeans(n_clusters = 3, init = 'k-means++', random_state = 0)
y_kmeans = kmeans.fit_predict(ikea)

In [ ]:
y_kmeans

In [ ]:
labels = kmeans.labels_
from sklearn.decomposition import PCA
pca_2 = PCA(2)
plot_columns = pca_2.fit_transform(ikea)
plt.scatter(x=plot_columns[:,0], y=plot_columns[:,1],c=labels )
plt.show()

In [ ]:
ikea["cluster"]=y_kmeans
ikea.head()